<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Group6_WSAD_FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Group6_WSAD_FinalProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Group6_WSAD_FinalProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse" id=" navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- This is the home tab -->
                         <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                         </li>
                        <!-- This is the About Dropdown that lists all the memebers' about sections -->
                        <li class ="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="aboutDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                About
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item" asp-controller="Blake" asp-action="AboutBlake">About Blake</a></li>
                                <li><a class="dropdown-item" asp-controller="Brian" asp-action="AboutBrian">About Brian</a></li>
                                <li><a class="dropdown-item" asp-controller="Bella" asp-action="AboutBella">About Bella</a></li>
                            </ul>
                        </li>

                        <!-- This is the Hobbies Dropdown that lists all the memebers' favorite hobbies-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="hobbyDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Hobbies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="hobbyDropdown">
                                <li><a class="dropdown-item" asp-controller="Blake" asp-action="BlakeHobbies">Blakes’s Hobby</a></li>
                                <li><a class="dropdown-item" asp-controller="Brian" asp-action="BrianHobby">Brian’s Hobby</a></li>
                                <li><a class="dropdown-item" asp-controller="Bella" asp-action="BellaHobbies">Bella’s Hobby</a></li>
                            </ul>
                        </li>
                        <!-- This is the tab that leads to the dataset -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dataset" asp-action="Index">Dataset</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
