html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
    background-color: #284b63;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar, .nav-link, .navbar-brand {
      color: white !important;
    }

.btn-primary {
    background-color: #3c6e71;
    border-color: #3c6e71;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #3c6e71;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #d9d9d9/\;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    align-items: start;
}

.about-text {
    line-height: 1.6;
}
#headshot {
    width: 250px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.about-image {
    display: flex;
    justify-content: flex-end;
}

.title-banner {
    background-color: #284b63;
    color: white;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.panel-border {
    background-color: ffffff;
    border: 3px solid #403838;
    border-radius: 12px;
    padding: 30px;
}